html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 微軟正黑體, Arial, Verdana, Helvetica, sans-serif;
    vertical-align: baseline;
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    color: black;
}
article {
    color: white;
}

h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    line-height: 50px;
    font-weight: 800;
    color: white;
}
h3 {
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 1.3em;
    line-height: 50px;
}
li {
    text-align: -webkit-match-parent;
}

p {
    font-size: 18px;
    margin: 20px 50px;
    padding: 0 80px;
    line-height: 33.4px;
    font-weight: 700;
    color: white;
}
body {
    background-color: #f0f0f0;
    color: white;
    letter-spacing: 0.5px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}


.title {
    overflow: hidden;
    display: block;
    width: 100%;
}


header {
    width: 100%;
    height: 130px;
    background-color: #f0f0f0;
}

.top {
    width: 100%;
    height: 65px;
    background-color: #f0f0f0;
    color: #A59D8E;
}
.topbox {

    height: 65px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
.topbox .logo {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 40px;
}
.logo {
    float: left;
    position: absolute;
    width: 120px;
    height: 40px;
    margin: 12px 0px 0px 30px;
}
.topmenu {
    right: 0;
    float: none;
    position: absolute;
    top: 0;
    text-align: left;
    height: 62px;
    line-height: 31px;
}
.topmenu .menu {
    display: inline-block;
    margin: auto;
}
.menu>ul>a {
    border-left: solid 1px;
}
.topmenu li {
    padding: 1px 18px;
    margin-left: -3px;
    display: inline-block;
    color: #020202;
    text-align: -webkit-match-parent;
}

.navbox {
    text-align:center;
    font-weight: bold;
    background-color: white;
}

.topmenu .language {
    display: inline-block;

    margin: 8px 15px;
}

.title-icon {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 75px;
    width: 75px;
}

.fullbackground {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)), url(../images/indexBackground.jpg) no-repeat;
}
article {
    color: white;
}

.topmenu .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    /* padding: 8px 15px; */
    margin: 8px 15px;
    vertical-align: top;
}
nav {
    margin: 0 auto;
    position: relative;
    margin: 0 auto;
    width: 1002px;
    height: 60px;
    background-color: cadetblue;
    z-index: 40;
    }
nav ul {
    height: 100%;
    padding: 0;
    margin: 0;
}
nav li {
    padding: 0;
    line-height: 30px;
    display: inline-block;
    color: black;
    font-size: 20px;
    padding: 16px 60px;
    text-align: center;
}
nav .separate {
    border-right: 1px solid #fff;
}











footer {
    
}
footer .shareall {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    text-align: center;
    background-color: white;
    color: black;
    clear: both;
}
footer .shareword {
    color: black;
    font-size: 170%;
    margin-bottom: 30px;
}
footer .shareall li {
    display: inline-block;
}
footer .shareall img {
    margin: 0 20px;
    height: 60px;
}
.footermenu_title {
    width: 1200px;
    height: 250px;
    margin: 0 auto;
    padding-top: 30px;
}
.footermenu_title>li {
    position: relative;
    display: inline-block;
    margin-left: 0;
}
.footermenu_title li>a {
    color: orange;
    padding: 10px 20px 10px 10px;
    box-sizing: border-box;
    width: 160px;
    display: inline-block;
}
.footermenu_item {
    padding: 0 0 0 20px;
    position: absolute;
}
.footermenu_item li>a {
    color: black;
    margin: 0;
    padding: 5px 10px 0 10px;
    border-left: 1px solid #f90;
}
.information {
    background-size: 15%; 
    padding: 30px 0 0 40px;
    margin: 90px 0 0 105px;
    height: 150px;
    color: black;
    display: block;
}
.information span{
    color: #f90;
}
li:hover, a:hover {
    color: orange;
}
.guidelink-list>li>h3>a:hover {
    background-color: #f90;
}
.information>div {
    position: relative;
    display: inline-block;
    margin-left: 0;
}
.viewMain {
    width: 980px;
    margin: 0 auto;
}
.viewMain h1 {
    margin: 0;
    padding-left: 200px;
    padding-top: 70px;
}
.view-list{
    margin:  50px;
    padding: 30px;

}
.view-list>li {
    width: 25%;
}
.guidelink-link {
    margin: 10px;
    padding: 0;
}
.view-list li{
    display: inline-block;
    margin: 10px;
    padding: 0;
}
.view-list figure {
    width: 250px;
    height: 237px;
    border: 2px solid #fff;
    border-radius: 10px;
    
}
.place {
    margin: 0 auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.viewMain p {
    width: 500px;
    padding-top: 10px;
    padding-left: 570px;
    margin: 0 auto;
    text-align: left;
}
ul.guidelink-list {
    list-style: none;
    padding: 0px;
    margin: 50px 0px;
    text-align: center;
    font-size: 0rem;
}
.guidelink-list>li {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin: 10px;
}
.guidelink-list>li>h3 {
    margin: 0px;
}
.guidelink-list .guidelink-link {
    display: block;
    padding: 10px 10px 30px;
    background-color: #fff;
    font-size: 1.1rem;
}
.guidelink-list .guidelink-link figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0px;
    padding-bottom: 67%;
    margin: 0 0  10px;
}
.guidelink-list .guidelink-link figure>img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
}
.guidelink-link>li>h3 {
    margin: 0;
}
.guidelink-link>li>h3>a {
    margin: 0;
}
.tel {
    padding: 3px 250px;
}
.shareicon>ul {
    padding-right: 40px;
}
.footermenu_title li>a:hover {
    text-decoration: none;
    color: #f90;
}
li:hover {
    text-decoration: none;
    color: #f90;
}