/* Global Style */
html{
    margin:0 ;
    padding: 0;
    background-color: #edf2c5;
    box-sizing: border-box;
}

*,*:before,*:after {
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  margin:0 ;
  padding: 0;
} 

/* Header Style */
.container_top{
  width: 940px;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 53px;
}
.link_area{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  
}
.link_area_item{
  margin-left: 10px;
}
/* .link_area_item_hover:hover{
  border-radius: 3px;
  border: solid 1px #778a50;
  background-color: #778a50;
}   */
/* .btn_LOGIN_box:hover{
  background-color: #778a50;
  color: #edf2c5;
}
.btn_JOIN_box:hover{
  background-color: #778a50;
} */
/* .btn_box_link:hover{
  color: #edf2c5;
  background-color: #778a50;
} */
h1 {
  width: 271px;
  height: 42px;
  font-family: Arial;
  font-size: 44px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}
.line_login {
  width: 1px;
  height: 25px;
  background-color: #778a50;
}
.btn_LOGIN_box {
  width: 60px;
  height: 25px;
  border-radius: 3px;
  border: solid 1px #778a50;
  background-color: #edf2c5;
  padding: 5px;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #778a50;
}
.btn_box_link{
  color: #778a50;
  font-weight: bold;
  text-decoration: none;
}
.btn_JOIN_box{
  width: 50px;
  height: 25px;
  border-radius: 3px;
  border: solid 1px #778a50;
  background-color: #edf2c5;
  padding: 5px;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #778a50;

}


/* nav */
.nav{
  margin-bottom: 20px;
}
.nav-list{
  width: 940px;
  height: 44px;
  border-radius: 3px;
  background-color: #778a50;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-list-item{
  list-style: none;
  margin-right: 5px;
}
.nav-list-item-link{
  display: block;
  color: #edf2c5;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 20px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
}
.nav-list-item-link:hover{
  color: #ffffff;
}



/* Content Style */
.content-area{
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}

.pumpkin{
  margin-bottom: 30px;
}
.h6 {
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}  
.body_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  width: 445px;
  height: 45px;
  border-radius: 3px;
  background-color: #778a50;
  
} 
.Vegetables_image{
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}

.line_contact_text {
  width: 414px;
  height: 1px;
  background-color: #7d7d7d;
}
.content_background {
  margin-top: 15px;
  margin-bottom: 35px;
  padding-left: 15px;
  width: 445px;
  height: 140px;
  border-radius: 3px;
  background-color: #f7fbda;
}
.content_flex{
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}


/* Footer */

.box_footer{
  width: 100%;
  height: 60px;
  background-color: #778a50;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer_Copyrights{
  font-family: Arial;
  font-size: 12px;
  color: #edf2c5;
  padding-top: 15px;
  padding-bottom: 15px;

}